# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=your_mysql_database
MYSQL_MAX_OPEN_CONNS=25
MYSQL_MAX_IDLE_CONNS=10
MYSQL_CONN_MAX_LIFETIME=5m
MYSQL_RETRY_COUNT=3 #optional: default=3

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DATABASE=your_postgres_database
POSTGRES_SSLMODE=disable
POSTGRES_MAX_OPEN_CONNS=25
POSTGRES_MAX_IDLE_CONNS=10
POSTGRES_CONN_MAX_LIFETIME=5m
POSTGRES_RETRY_COUNT=3 #optional: default=3

# Cache Config
CACHE_HOST=localhost
CACHE_USER=user
CACHE_PASSWORD=password
CACHE_PORT=6379
CACHE_PREFIX=redis # optional: default='zus-go'

# Logger Config
LOG_LEVEL=Info # Info, Debug, Warn, Error
LOG_SERVICE_NAME=zus-go # differentiating services log
LOG_HANDLER_TYPE=text # text, json

# Saga Config
SAGA_HOST=localhost:7233
SAGA_NAMESPACE=dev
SAGA_RETRY_COUNT=3 #optional: default=3

---
# Optional Config
---
# Notify Config(lark bot) 
NOTIFY_URL=http://lark-bot-url
NOTIFY_SERVICE_NAME=service